	
*.zip
*.tar
*.tgz
*.pth

segInPaper/
aaamine/
Anomaly Detection/i12/
Anomaly Detection/InterFusion/
Anomaly Detection/MSCRED/
Anomaly Detection/usad/
Anomaly Detection/MPN-main/data/shanghai/
Anomaly Detection/MPN-main/exp/
Anomaly Detection/MPN-main/pret/
Anomaly Detection/MPN-main/pths/
Anomaly Detection/MPN-main/results/
Classification/
infrared/
documents/111/
documents/central_structure/
documents/co-mod-gan-master/
documents/edge-connect-master/
documents/Image_Style_Transfer/
documents/Image_Style_Transfer/
documents/match_post/
documents/py-IE-CGAN-master /
documents/RFR/
documents/siggraph2017_inpainting-master/
documents/PRVS-Image-Inpainting-master/checkpoint/
a_segmentation/detectron2/
a_segmentation/improving_segmentation_with_selfsupervised_depth/
a_segmentation/PFENet/
a_segmentation/rest/
a_segmentation/Unsupervised-Segmentation/
a_segmentation/mask_rcnn/data/
a_segmentation/mask_rcnn/pretrain/
a_segmentation/mask_rcnn/rest718_6/111/
a_segmentation/mask_rcnn/rest718_6/edge/
a_segmentation/mask_rcnn/rest718_6/predict/
a_segmentation/mask_rcnn/rest718_6block/111/
a_segmentation/mask_rcnn/rest718_6block/block/
a_segmentation/mask_rcnn/rest718_6block/predict/
a_segmentation/mask_rcnn/results/
a_segmentation/mask_rcnn/save_weights*/
a_segmentation/mask_rcnn/testData/
a_segmentation/PaddleSeg/data/cocostuff/
a_segmentation/PaddleSeg/output*/
a_test/AD-AL/all/
a_test/AD-AL/data/
a_test/AD-AL/mine/
a_test/AD-AL/results/
a_test/AD-AL/range/
a_test/AD-AL/300res/
a_test/labelme2coco/images_train/
a_test/labelme2coco/images_test/
a_test/labelme2coco/coco_train/
a_test/labelme2coco/coco_test/
a_test/tools/Attack/testbefore/
a_test/tools/Attack/test/
a_test/tools/Attack/data2/
a_test/tools/DataAugForObjectSegmentation/data2/
a_test/tools/DataAugForObjectSegmentation/images_test/
a_test/tools/DataAugForObjectSegmentation/images_test-noise/
a_test/tools/DataAugForObjectSegmentation/images_train/
a_test/tools/DataAugForObjectSegmentation/testbefore/
a_test/tools/DataAugForObjectSegmentation/trainbefore/
a_test/video2im/csv*/
a_test/video2im/video/
Anomaly Detection/MPN-main/nohup-55.out
Anomaly Detection/MPN-main/nohup-72.out
Anomaly Detection/MPN-main/nohup-big.out
Anomaly Detection/MPN-main/nohup.out
Anomaly Detection/MPN-main/ziKCkZ5x
a_segmentation/mask_rcnn/nohup.out
a_segmentation/mask_rcnn/nohup77_4.out
a_segmentation/mask_rcnn/nohup78_8.out
a_segmentation/mask_rcnn/nohup716.out
a_segmentation/mask_rcnn/nohup717_4.out
a_segmentation/mask_rcnn/nohup718_6.out
a_segmentation/mask_rcnn/nohup719sc.out
a_segmentation/nohup.out
a_test/video2im/nohup.out
a_test/video2im/nohup-有序.out
zivcnRw4